CURRENT PORTFOLIO TABLE

<table class="table table-hover">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Quantity</th>
      <th>Cost Basis</th>
      <th>Current Value</th>
      <th>Profit/Loss</th>
      <th>Current Price</th>
      <th>1d</th>
      <th>7d</th>
      <th>30d</th>
      <th>Trade?</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='(stock, details) in currentPortfolio track by $index'>
      <td>{{ stock }}</td>
      <td>{{ details.quantity }}</td>
      <td>Cost Basis</td>
      <td>Current Value</td>
      <td>Profit/Loss</td>
      <td>Current Price</td>
      <td>1d</td>
      <td>7d</td>
      <td>30d</td>
      <td>Trade?</td>
    </tr>
  </tbody>
</table>

{{ currentPortfolio }}
<br><br>
{{ currentSubset }}
