<h2>Stock Index</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Price</th>
      <th>1d</th>
      <th>7d</th>
      <th>30d</th>
      <th>Trade?</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(symbol, prices) in currentDateStocks">
      <td>{{ symbol }}</td>
      <td>{{ prices.today | currency }}</td>
      <td>{{ prices.oneDay | currency }}</td>
      <td>{{ prices.sevenDay | currency }}</td>
      <td>{{ prices.thirtyDay | currency }}</td>
      <td><a ui-sref="main.trade({ symbol: symbol })">Trade</a></td>
    </tr>
  </tbody>
</table>
